body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

#home {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  background-image: url("../images/background.png");
  background-size; cover;
  background-position: center;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

h4 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.footer {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}
