body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

#home {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#home p a {
  font-size: 18px;
  color: white;
}
